@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  color: #000;
}

.btn {
  display: inline-block;
  color: #FFF;
  padding: 0.625rem 1.25rem;
  border-radius: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.btn--orange {
  background-color: #FF9A01;
}

.btn--video {
  background-color: #FFF;
  color: #FF9A01;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  margin-top: 1rem;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.logo {
  width: 7.5rem;
}

.header {
  background-color: #F3F2F0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.home {
  background-image: url("../images/hero.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 90%;
}

.home__wrapper {
  color: #FFF;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 70px);
}

.home__header {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
}

.home__header .be {
  font-weight: 700;
}

.home__subhead {
  font-size: 2.5em;
  font-weight: 500;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.home__desc {
  font-size: 1em;
  max-width: 37.5rem;
  line-height: 1.7;
  -webkit-backdrop-filter: blur(0.125rem);
          backdrop-filter: blur(0.125rem);
}

.home__buttons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.features {
  background-color: #FCFCFC;
  min-height: 100vh;
}

.features__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  padding: 4.375rem 1rem;
}

.features__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
  place-items: center;
  margin-top: 5rem;
}

.features__item:nth-of-type(5) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.features__item:nth-of-type(8) {
  -ms-grid-column: 3;
  grid-column: 3;
}

.features__item:not(:nth-child(5)) {
  background-color: #DFDFDF;
  /* min 310px , preferred 330px,  max 350 */
  width: clamp(19.375rem, 26vw, 21.875rem);
  height: 8.75rem;
  border: 1px solid #BABABA;
  border-radius: 0.9375rem;
  padding: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item--title {
  color: #02007C;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.3em;
          column-gap: 0.3em;
  margin-bottom: 0.5em;
}

.features__item--icon {
  width: 1.5625rem;
}

.features__item:nth-child(1) .features__item--icon {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.features__item--desc {
  font-size: 0.8125em;
  line-height: 1.6;
}

.features__item--img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.video {
  background-color: #FF9A01;
  min-height: calc(100vh - 450px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__thumbnail {
  -ms-flex-preferred-size: 50vw;
      flex-basis: 50vw;
  position: relative;
}

.video__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video__content {
  -ms-flex-preferred-size: 50vw;
      flex-basis: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__title {
  font-size: 2.5em;
  font-weight: 600;
  color: #FFF;
}

.video__desc {
  font-size: 0.9125em;
  font-weight: 600;
  margin-top: 0.5rem;
}

.pricing {
  background-color: #F3F3F3;
}

.pricing__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  padding: 4.375rem 1rem;
}

.pricing__content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.pricing__category--title {
  font-size: 1.5em;
  color: #02007C;
}

.pricing__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
  border-bottom: 1px solid #BABABA;
  margin-bottom: 2rem;
}

.pricing__tab {
  background-color: #FFF;
  border: 1px solid #C7C7C7;
  border-radius: 0.625rem;
  padding: 0.7em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.pricing__tab:hover {
  border: 1px solid #000;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 968px) {
  .pricing__tab {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.faq {
  background: linear-gradient(135deg, #00D1FF, #C1C1C1);
  min-height: 100vh;
}

.faq__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  padding: 4.375rem 1rem;
}

.faq__content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 968px) {
  .faq__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.faq__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.faq__accordion--tab {
  background-color: #FFF;
  border-radius: 0.9375rem;
  padding: 1em 1.5em;
  max-width: 31.25rem;
}

.faq__accordion--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.faq__accordion--header h3 {
  margin-left: 2.5rem;
  font-size: 1.2em;
  font-weight: 700;
}

.faq__accordion--header h3::before {
  position: absolute;
  content: '';
  top: 0.8125rem;
  left: 0;
  background-color: #000;
  width: 1.375rem;
  height: 0.125rem;
}

.faq__accordion--header h3::after {
  position: absolute;
  content: '';
  bottom: 0.3125rem;
  left: 0.625rem;
  background-color: #000;
  width: 0.125rem;
  height: 1.25rem;
}

.faq__accordion--info {
  overflow-y: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.faq__accordion--info p {
  padding-top: 1em;
  font-size: 0.875em;
}

.open .faq__accordion--info {
  max-height: 6.25rem;
}

.close .faq__accordion--header h3::after {
  display: none;
}

.close .faq__accordion--info {
  max-height: 0;
}

.reviews {
  background-color: #EDF0F7;
}

.reviews__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  padding: 4.375rem 1rem;
  overflow-x: hidden;
}

.reviews__content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews__tab {
  min-width: 28.125rem;
  background-color: #FFF;
  padding: 1.5em 2em;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.25);
}

.reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__user--avatar {
  border: 2px solid #000;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.reviews__user--info {
  margin-left: 0.8rem;
}

.reviews__userdata {
  color: #FF9A01;
  font-size: 0.875em;
  font-weight: 600;
  -webkit-transform: translateY(-0.1875rem);
          transform: translateY(-0.1875rem);
}

.reviews__username {
  font-size: 1.2em;
  font-weight: 600;
}

.reviews__desc {
  font-size: 0.875em;
  padding-top: 1em;
}

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.reviews__btn {
  background-color: rgba(0, 0, 0, 0.7);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews__btn.active {
  width: 1.5625rem;
  border-radius: 0.3125rem;
}
/*# sourceMappingURL=style.css.map */