@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
// font weight => 400,500,600,700

// color
$white: #FFF;
$black: #000;
$orange: #FF9A01;
$darkblue: #02007C;
$verydarkblue: #01003C;

// layout background
$navbar: #F3F2F0; 
$features: #FCFCFC;
$pricing: #F3F3F3;
$contact: #D4CED0;
$reviews: #EDF0F7;

// components background
$featureitem: #DFDFDF;
$featureitembr: #BABABA;

$pricingbr: #C7C7C7;

$divider: #BABABA;

$contactbg: #92411B;

$form: #C4C4C4;

// media queries
$screen-xl-min: 1201px;
$screen-xl-max: 1200px;

$screen-lg-max: 968px;

$screen-md-max: 898px;

$screen-sm-max: 500px;