@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
// font weight => 400,500,600,700

// color
$white: #FFF;
$black: #000;

// buttons
$orange: #FF9A01;

// components background
$navbar: #F3F2F0;  
$featureitemtitle: #02007C;
$featureitem: #DFDFDF;
$featureitembr: #BABABA;

// layout background
$features: #FCFCFC;
